body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .header {
    display: flex;
    background: #1f2937;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .header-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
  }
  
  .header-1 .heading {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 50px;
    font-size: 24px;
    color: #f9faf8;
    flex: 1;
  }

.content .list {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 50px;
    flex: 1;
  }
  
  .list {
    list-style: none;
    gap: 25px;
  }
  
  a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
  }
  
  .header-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1;
  }
  
  .awesome {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    padding: 3px;
    margin-top: 25px 0px;
    flex-wrap: wrap;
    flex: 1;
  }
  
  .awesome .heading {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    margin: 0 50px;
    flex: 1;
  }
  
  .awesome .paragraph {
    font-size: 18px;
    color: #e5e7eb;
    width: 70%;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px; 
    flex: 1;
  }
  
  .awesome .button {
    margin: 5px 50px;
    background: #3882f6;
    border-radius: 5px;
    width: 150px;
    flex: 1;
  }
  
  .img-placeholder {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 40%;
    padding: 3px;
    margin: 25px 50px;
    flex-shrink: 0;
    flex: 1;
  }
  
  .placeholder {
    text-align: center;
  }
  
  .body-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .headings {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
  }
  
  .headings .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .headings .unordered ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  
  .headings .unordered ul li {
    margin: 5px;
    list-style: none;
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .headings .unordered div {
    width: 200px;
    text-align: center;
  }
  
  .quote {
    display: flex;
    flex-direction: column;
    font-weight: lighter;
    align-items: flex-end;
    margin: 50px 300px;  
  }
  
  .quote-section {
    background: #e5e7eb;
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
  }
  
  .quote p {
    display: flex;
    
  }
  
  .call-to-action {
    display: flex;
    justify-content: space-around;
    background: #3882f6;
    align-items: center;
    margin: 150px;
    border-radius: 10px;
    color: white;
  }
  
  .call-to-action button {
    border: white solid 1px;
    background: #3882f6;
    border-radius: 5px;
    width: 150px;
    color: white;
  }
  
  